@import url("https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap");

/* BASE*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
  font-family: "Ma Shan Zheng", cursive, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #eee;
}

/* VARIABLES */

:root {
  --font-default: 1.6rem;

  --color-primary: orangered;
  --color-white: #fff;

  --border-primary: 2px solid var(--color-primary);
  --border-radius-default: 5px;

  --max-width--default: 30rem;
}

/* PAGES */

.app {
  height: 100vh;
  max-width: var(--max-width--default);
}

.app__img-container {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__img-caption {
  font-size: var(--font-default);
}

.app__img {
  display: block;
  height: 100%;
  width: 100%;
}

.app__new-post-btn {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.feed__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed__capture-button {
  height: 5rem;
  width: 2rem;
  display: flex;
  justify-content: center;
}

.feed__capture-icon {
  height: 3rem;
}

.feed__camera-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feed__camera-video {
  display: block;
  height: 8rem;
}

.app__post-container {
  display: grid;
  grid-template: auto / repeat(3, 1fr);
}

/* COMPONENTS */

.link:link,
.link:visited {
  color: var(--color-primary);
  font-size: var(--font-default);
  text-decoration: none;
}

.nav--primary {
  position: fixed;
  top: 0;
  left: 1rem;
  width: 1vw;
}

.card {
  border: var(--border-primary);
  border-radius: var(--border-radius-default);
  max-width: var(--max-width--default);
  position: relative;
  height: 10rem;
}

.card__img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-default);
  transition: opacity 0.2s ease;
}

.card__cap {
  font-size: var(--font-default);
  background-color: var(--color-primary);
  color: var(--color-white);
  opacity: 0;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  transition: opacity 0.2s ease;
}

.card:hover .card__img {
  filter: blur(1px) grayscale(1);
}

.card:hover .card__cap {
  opacity: 1;
}

.small {
  font-size: var(--font-default);
  padding: 1rem;
}

.small--primary {
  color: var(--color-primary);
}

.input__label {
  font-size: 2rem;
}

/* UTILITIES */

.u-center-text {
  text-align: center;
}

.u-justify-center {
  display: flex;
  justify-content: center;
}
